{{#if authManager.currentUser}}
  Logged in as {{authManager.currentUser.email}}
{{ else }}
  <h2>Login page</h2>
  <p>Use login / ok</p>

  <form {{action 'authenticate' on='submit'}}>
    {{input value=login placeholder='Login'}}<br>
    {{input value=password placeholder='Password' type='password'}}<br>
    <button type="submit">Login</button>
  </form>
{{/if}}

{{#link-to 'secret'}}<strong>Secret codez here</strong>{{/link-to}}

